.pagination-item {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 18px;
    color: var(--main-blue);;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
    border-color: #e1e3ec;
    background: #fff;
}

.pagination-item:hover {
    background: rgba(165, 162, 211, 0.404);
}

.pagination-item.active {
    cursor: default;
}

.pagination-item:active {
    outline: none;
}

.pagination-item.active, .pagination-item:active {
    border-color: #4285F4;
    background-color: var(--main-blue);;
    color: #fff;
}

.pagination-item:first-child {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}

.pagination-item:last-child {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}