.button {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60%;
    min-height: 40px;
    border: none;
    padding: 0;
  
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: var(--main-blue);
    border-radius: 4px;
    cursor: pointer;
}
  
.button:hover {
    background-color: var(--light-blue);
  
    cursor: pointer;
}
  
.button:active {
    outline: none;
    background-color: var(--dark-blue);
}
  
.button:focus {
    outline: none;
    background-color: var(--dark-blue);
}
  
.button:disabled {
    background-color: var(--main-blue);
    cursor: default;
}