.user__content {
    width: 400px;
    padding: 20px 40px;
}

.user__title {
    margin: 0 0 6px;
    font-size: 25px;
    line-height: 2;
    font-weight: 700;
    color: var(--main-blue);
}

.user__title a {
display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.user__email {
font-size: 20px;
line-height: 1.4;
font-weight: 500;
color: var(--disabled-blue);
}
