.card__content {
    width: 400px;
    padding: 20px 40px;
}

.card__title {
    margin: 0 0 6px;
    font-size: 25px;
    line-height: 2;
    font-weight: 700;
    color: var(--main-blue);
}

.card__title a {
display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
transition: var(--animation);
}

.card__title a:hover {
color: var(--light-blue);
}

.card__title a:active {
color: var(--dark-blue);
}

.card__title a:focus {
outline: none;
color: var(--dark-blue);
}

.card__email {
font-size: 20px;
line-height: 1.4;
font-weight: 500;
color: var(--disabled-blue);
}
