.user {
    margin-bottom: 25px;
    position: relative;
    display: flex;
    background: #fff;
    box-shadow: 0px 5px #B5B8B1, 0px 10px 10px rgba(0,0,0,0.25);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 300ms;
}

.user:hover {
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
}
  
.user:focus {
    outline: none;
}
