.popup__columns {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    scrollbar-width: none;
}

.popup__columns::-webkit-scrollbar {
    display: none;
}

.popup__left {
    width: 500px;
}

.popup__left img{
    height: 400px;
}

.popup__right {
    width: 308px;
    padding-left: 40px;
}
