.close-button {
    position: absolute;
    top: 33px;
    right: 35px;

    padding: 0;
    border: none;
    background: none;

    cursor: pointer;
}

.close-button svg {
    fill: #4456B1;
    transition: var(--animation);
}

.close-button:hover svg{
    fill: var(--light-blue);
}

.close-button:active svg {
    fill: var(--dark-blue);
    outline: none;
}
.close-button:active {
    outline: none;
}