.reg__wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--popup-overlay);
}

.form-reg {
    width: 400px;
    height: calc(100vh - 350px);
    min-height: 420px;
    display: flex;
    flex-direction: column;
    padding: 32px 34px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    background-color: var(--white);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
}

.form-reg::-webkit-scrollbar {
    display: none;
}

.form-reg__button {
    margin: 0 auto;
    margin-top: 30px;
    min-width: 200px;
}

.reg__input:first-child {
    margin-top: 0;
}