.login__wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--popup-overlay);
}

.form-login {
    width: 400px;
    height: 460px;
    display: flex;
    flex-direction: column;
    padding: 32px 34px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
}

.form-login::-webkit-scrollbar {
    display: none;
}

.form-login__button {
    margin: 0 auto;
    margin-top: 30px;
}

.form-signUp__button {
    min-width: 50%;
}

.form-login__loading {
    margin-top: 10px;
}

.form-login__error {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: gray;
    color: red;
}