.header__login {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
}

.login__name{
    color: #fff;
    align-self: center;
    margin-right: 30px;
}

.login__button {
    margin-top: 0;
    min-width: 100px;
}

.add-in-employee__button {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0;
}

.login__find-form {
    display: flex;
    margin-top: 0;
    height: 40px;
    position: relative;
    right: 30%;
}

.login__find-form .find-form__input {
    margin-top: -3px;
    margin-right: 20px;
}

.find-form__button {
    margin-top: 0;
}

.login-update-user__button {
    margin-top: 0;
}