.results__list {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.results__list::-webkit-scrollbar {
    display: none;
}